{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "arrow-parens": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "jsx-a11y/href-no-hash": "off"
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.base.babel.js"
      }
    }
  },
  "plugins": [
    "react", "import"
  ]
}
