{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "import/no-extraneous-dependencies": 0,
    "react/jsx-filename-extension": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.base.babel.js"
      }
    }
  },
  "plugins": [
    "react", "import"
  ]
}
