{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
  },
  "plugins": [
    "react"
  ],
  "globals": {
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEV__": true,
    "webpackIsomorphicTools": true
  }
}
