{
  "processors": ["stylelint-processor-styled-components"],
  "extends": "stylelint-config-standard",
  "ignoreFiles": ["node_modules/**/*.css"],
  "rules": {
    "at-rule-empty-line-before": null,
    "selector-type-case": null,
    "selector-type-no-unknown": null
  },
  "syntax": "scss"
}
