@import "styles/utils/colors.css";

.item {
  padding: 1rem;
  border-bottom: 1px solid color(#433a5a alpha(25%));
  background: #eef3f5;
  color: var(--dark);

  &:hover .remove {
    opacity: 1;
  }
}

.itemText {
  width: calc(100% - 4rem);
  display: inline-block;
  outline: none;
  letter-spacing: normal;
}

.checkbox {
  position: relative;
  display: inline-block;

  input {
    margin-right: 1rem;
    outline: 0;
    border: 1px solid color(#433a5a alpha(25%));
    border-radius: 1px;
    width: 1rem;
    height: 1rem;
    vertical-align: middle;
    appearance: none;
  }

  &::after {
    content: '\2713';
    position: absolute;
    top: -0.25rem;
    left: 0.0625rem;
    opacity: 0;
    color: color(#433a5a alpha(75%));
    font-size: 1.3rem;
    cursor: pointer;
  }
}

.remove {
  opacity: 0;
  float: right;
  transition: opacity 0.2s;
  cursor: pointer;

  &:hover {
    color: var(--secondary);
    font-weight: 600;
  }
}

.completed {
  .itemText {
    text-decoration: line-through;
    opacity: 0.5;
  }

  .checkbox {
    input {
      border-color: color(#433a5a alpha(40%));
    }

    &::after {
      opacity: 1;
    }
  }
}
