:root {
  /* Colors */
  --primary: #75d2d3;
  --secondary: #b54d4e;
  --lite: #e7dee9;
  --dark: #433a5a;
  --white: #f6f4f9;
  --black: #000;

  /* Background Gradients */
  --gradientTop: #282140;
  --gradientBottom: #312c47;
}
