@import "styles/utils/colors.css";

.base {
  composes: container from "styles/utils/layout.css";
}

.header {
  padding: 4rem 0 2rem;
  text-align: center;

  p {
    font-size: 1.25rem;
    font-weight: 300;
  }
}

.nav {
  ul {
    list-style: none;
    text-align: center;
  }

  li {
    margin: 0.5rem;
    display: inline-block;
  }
}

.example {
  margin-top: 2rem;
  padding: 1.5rem;
  width: 100%;
  height: calc(100vh - 250px);
  background: var(--dark);
  box-shadow: 0 1rem 2.5rem 0 color(var(--black) alpha(20%));
}
