@import "styles/utils/colors.css";

.base {
  composes: container from "styles/utils/layout.css";
}

.inputContainer {
  position: relative;
  background: color(#fff alpha(20%));
  padding: 1rem;
}

.input {
  width: 100%;
  padding: 0.5rem 2.2rem 0.5rem 1rem;
  font-size: 1.125rem;
  background: #eef3f5;
  outline: 0;
  border: 1px solid transparent;
  border-radius: 2px;

  &:focus {
    border-color: var(--primary);
  }
}

.footer {
  display: flex;
  justify-content: space-between;

  button:hover {
    border-bottom: 1px solid var(--primary);
  }
}
